<div class="enemies">
  <p>{{ currentFloor() }} / {{ maxFloor() }}</p>
  <ol>
    @for (enemy of currentTowerFloor().enemies; track enemy.id) {
      <li>{{ enemy.stats | json }} - {{ enemy.currentHealth }}</li>
    }
  </ol>
</div>

<div class="tower-dungeon-wrapper">
  <div class="tower-dungeon">
    <div class="tower-body">
      @for (floor of towerFloorsEntries(); track floor[0]) {
        <div
          class="tower-floor"
          [style.border-bottom-color]="
            +floor[0] < currentFloor() - 1
              ? '2px solid #bdbdbd'
              : '4px solid #bdbdbd'
          "
        >
          <div class="windows">
            @for (
              window of arrayCreator
                .from({ length: floor[1].difficulty })
                .keys();
              track window
            ) {
              @if (randomWindowCount()) {
                <div class="window" [style.background]="'#e0e0e0'"></div>
              }
            }
          </div>
          <div class="floor-label">Floor {{ floor[0] }}</div>
        </div>
      }
      @if (currentFloor() < maxFloor()) {
        <div class="cloud-cover">
          <div class="cloud cloud1"></div>
          <div class="cloud cloud2"></div>
          <div class="cloud cloud3"></div>
          <div class="cloud cloud4"></div>
          <div class="cloud cloud6"></div>
          <div class="cloud cloud5"></div>
          <div class="cloud cloud7"></div>
          <div class="tower-floor"></div>
        </div>
      }
    </div>
    <div class="tower-base"></div>
  </div>
</div>
